<template name="urlItem">
    <div class="url">
        <div class="url-content">
            <h3><a href="/{{name}}">{{name}}</a><span>{{url}}</span></h3>
            <p>
              Created on {{created}}
              {{pluralize clicks "click"}}
            </p>
        </div>
        <div class="actions pull-right">
            <img src="/icon_copy.png" class="copy" data-url="{{name}}"/>
            <img src="/icon_delete.png" class="delete" data-id="{{_id}}"/>
        </div>
    </div>
</template>
